//---------------------------------------------------------------------------
//
// Name:        imageViewApp.rc
// Author:      riverbird
// Created:     2009/10/9 22:42:52
// Description: 
//
//---------------------------------------------------------------------------

#include <wx/msw/wx.rc>
